<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <!--Foundation-->
    <link rel="stylesheet" href="/node_modules/foundation-sites/dist/foundation.min.css">
    <!--Custom Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/all_custom.css">
</head>

<body id="main_layout">
    {{{body}}}
</body>

</html>
