<!--Toolbars-->
<div class="row">
    <div id="add_viz_data" class="medium-12 columns">
        <a id="add_viz_data_btn" class="button">New Data</a>
    </div>
</div>

<!--Form - Add New Data-->
<form id="form-add-new-data" class="row" method="post" action="/master/register">
    <p class="form_header">Insert New Data</p>
    <div class="medium-6 columns form_title">
        <p>Data Details</p>
        <label>Category
            <input id="data-category"  name="data-category" type="text" autocomplete="off">
        </label>

        <label>Country
            <input id="data-country" name="data-country" type="text" autocomplete="off">
        </label>

        <label>Title
            <input id="data-title" name="data-title" type="text" autocomplete="off">
        </label>
    </div>
    <div class="medium-6 columns form_title">
        <p>API</p>
        <label>Link
            <input id="data-api-link" name="data-api-link" type="text" autocomplete="off">
        </label>

        <label>Website
            <input id="data-api-weblink" name="data-api-weblink" type="text" autocomplete="off">
        </label>

        <label>Username
            <input id="data-api-username" name="data-api-username" type="text" autocomplete="off">
        </label>

        <label>Password
            <input id="data-api-password" name="data-api-password" type="text" autocomplete="off">
        </label>
    </div>

    <button id="add-data" class="button" type="submit">Add</button>
</form>

<!--Data-->
<div id="data-table-row" class="row">
    <div id="data-table-col" class="medium-12 columns">
        <div class="callout table-scroll">
            <table id="data-table">
                <thead>
                <tr>
                    <th>Category</th>
                    <th >Country</th>
                    <th>Title</th>
                    <th>Link</th>
                    <th>Weblink</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>sdfdf</td>
                    <td>fdgdfg</td>
                    <td>gergerg</td>
                    <td>reger</td>
                    <td>erg</td>
                    <td>sdfsd</td>
                    <td>gngfnfngfn</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                <tr>
                    <td>423234</td>
                    <td>dsfsdf</td>
                    <td>dfvdfv</td>
                    <td>sdfv</td>
                    <td>dfvvdf</td>
                    <td>q</td>
                    <td>dfvqwe</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--JQuery-->
<script src="/node_modules/jquery/dist/jquery.js"></script>
<!--Data Tables-->
<script src="/packages/datatables.net/js/jquery.dataTables.js"></script>
<script src="/packages/datatables.net-zf/js/dataTables.foundation.js"></script>
<script src="/packages/datatables.net-responsive/js/dataTables.responsive.js"></script>
<script src="/packages/datatables.net-zf/js/dataTables.foundation.js"></script>
<!--Underscore-->
<script src="/node_modules/underscore/underscore.js"></script>
<!--Backbone-->
<script src="/node_modules/backbone/backbone.js"></script>
<script src="/js/bb_data_viz.js"></script>